<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Buscador de series</title>
  <link rel="icon" href="./favicon.png" />
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <div class="page">
    <h1>Buscador de series</h1>
    <form method="POST" action="" id="form">
      <input type="text" id="input-search" placeholder="Introduce el nombre de la serie">
      <button type="button" id="btn-search">Buscar</button>
    </form>
    <main id="main" class="main">
      <section class="list-favourites">
        <h2>Mis series favoritas:</h2>
        <ul id="fav-list"></ul>
        <button type="reset" class="btn-reset" id="btn-reset">Borrar favoritos</button>
      </section>
      <section class="list-results">
        <h2>Tu busqueda:</h2>
        <ul id="list" class="results">
        </ul>
      </section>
    </main>
  </div>
  <script src="./assets/js/main.js"></script>
</body>

</html>